[circus]
include_dir = /etc/circus/conf.d/
statsd = 1
httpd = False
loglevel = INFO

[watcher:stockholm_app]
cmd = bin/chaussette --fd $(circus.sockets.stockholm_app) stockholm.app
working_dir = {{ project_root }}
numprocesses = 3
use_sockets = True

[socket:stockholm_app]
host = 127.0.0.1
port = 9999

[watcher:celeryd_default]
cmd = bin/celery worker
       --app={{ project_name }}.celery_app
       --loglevel=info 
       --workdir={{project_root}}
       --pool=eventlet
       --concurrency=500
working_dir = {{ project_root }}
autostart = True
uid = {{ project_user }}

[watcher:celeryd_dbwriter]
cmd = bin/celery worker
       --app={{ project_name }}.celery_app
       --loglevel=info 
       --workdir={{project_root}}
       --pool=eventlet
       --concurrency=500
       --queue=db_writers
working_dir = {{ project_root }}
autostart = True
uid = {{ project_user }}

[watcher:celerybeat]
cmd = bin/celery beat
       --app={{ project_name }}.celery_app
       --loglevel=info 
       --workdir={{project_root}}
working_dir = {{ project_root }}
autostart = True
uid = {{ project_user }}